/* Início barra entalhe no topo em todas as telas */

/* #entalhe{
    background-color: #bdbdbd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    flex-direction: row;
} */

#hora{
    font-family: 'Noto Sans', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content:  start;
    align-items: flex-start;
    margin-top: 7px;
    margin-left: 10px;
}

.iconsignal{
    display: flex;
    flex-direction: row;
    justify-content:  start;
    align-items: flex-start;
    margin-top: 7px;
    margin-left: 650px;
}

.iconwifi{
    display: flex;
    flex-direction: row;
    justify-content:  start;
    align-items: flex-start;
    margin-top: 7px;
    margin-left: 10px;
}

.iconbattery{
    display: flex;
    flex-direction: row;
    justify-content:  start;
    align-items: flex-start;
    margin-top: 7px;
    margin-left: 10px;
}

/* Término da barra entalhe no topo em todas as telas */

/* Início do fundo da tela login  */

.fundologin{
    background-color: #BE9494;
    background-image: url('../imgs/fundologin.png');
    background-size: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 45%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #000000 solid 1pt;
    bottom: 0;
    box-shadow: 0vh;
}

.logoempresa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 550px;
    padding-top: 153px;
}

.marca_titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Kaushan Script', cursive;
    color: black;
    font-size: 95px;
    padding-bottom: 135px;
}

/* Término do fundo da tela login  */

/* Início botões e textos da tela login */

.text_1_login{
    justify-content: center;
    align-items: center;
    top: 970px;
    left: 110px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 55px;
    font-weight: bolder;
    color: black;
    POSITION: FIXED;
}

.image_google_button{
    display: flex;
    top: 47vh;
    position: absolute;
    left: auto;
    right: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 800px;
    border: 1pt solid black;
}

.div_google_button{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}


#fundo_login_login{
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
}

.cadastro_body_login{
    background-color: #e1d1d169;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px;
    border: #000000 solid 1pt;
    border-radius: 15px;
}



#email_struct_login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 20px;
}

.icon_email_login{
    width: 90px;
    height: 90px;
}

#senha_struct_login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 20px;
}

.icon_senha_login{
    width: 90px;
    height: 90px;
}



#email_usuario_login{
    width: 650px;
    height: 50px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 45px;
    font-size-adjust: initial;
}

#senha_usuario_login{
    width: 650px;
    height: 50px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 45px;
    font-size-adjust: initial;
}


#botao_register_login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#register_login{
    width: 900px;
    height: 120px;
    border: 1pt solid rgb(0, 0, 0);
    background-color: rgba(212, 211, 211, 0.918);
    border-radius: 15px;
    color: rgb(82, 82, 82);
    font-size: 40px;
    font-size-adjust: initial;
    font-weight: bolder; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    box-shadow: 3px 3px;
}

#btn_cadastro{
    width: 900px;
    height: 120px;
    border: 1pt solid rgb(0, 0, 0);
    background-color: rgba(212, 212, 212, 0.918);
    border-radius: 15px;
    color: rgb(82, 82, 82);
    font-size: 40px;
    font-size-adjust: initial;
    font-weight: bolder; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    box-shadow: 3px 3px;
}

/* Término botões e textos da tela login */

/* Começo tela cadastro */

#resultado_cadastro{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1828px;
    width: 100%;
    padding-bottom: -1px;
    border: #000000 solid 1pt;
    background: #225e92;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 37px;
    text-align: center;
    display: block;
}

#cadastro_existe{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1828px;
    width: 100%;
    padding-bottom: -1px;
    border: #000000 solid 1pt;
    background: #225e92;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 37px;
    text-align: center;
    display: block;
}

#resultado_login{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000d4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.login_text1{
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 55px;
    font-weight: bold;
}

.login_text2{
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    border: #ffffff solid 3pt;
    padding: 15px;
}

.login_text2:hover{
    text-decoration: none;
    color: rgb(100, 100, 100);
}

.login_text2:focus{
    text-decoration: none;
    color: white;
}

.login_text2:active{
    text-decoration: none;
    color: white;
}


#fundo_cadastro{
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 120px;
    /* border: 5pt solid rgb(145, 86, 86); */
}

.cadastro_body{
    display: flex;
    gap: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    border: solid 1pt black;
    border-radius: 10px;
}

#name_struct{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 20px;
}

.icon_name{
    width: 90px;
    height: 90px;
    
}

#fone_struct{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 20px;
}

.icon_fone{
    width: 90px;
    height: 90px;
}


#email_struct{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 20px;
}

.icon_email{
    width: 90px;
    height: 90px;
}

#senha_struct{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 20px;
}

.icon_senha{
    width: 90px;
    height: 90px;
}

#endereço_struct{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 20px;
}

.icon_endereço{
    width: 90px;
    height: 90px;
}

#nome_usuario{
    width: 550px;
    height: 50px;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 45px;
    font-size-adjust: initial;
}

#telefone_usuario{
    width: 550px;
    height: 50px;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 45px;
    font-size-adjust: initial;

}

#email_usuario{
    width: 550px;
    height: 50px;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 45px;
    font-size-adjust: initial;

}

#senha_usuario{
    width: 550px;
    height: 50px;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 45px;
    font-size-adjust: initial;
}

#endereco_usuario{
    width: 550px;
    height: 50px;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 45px;
    font-size-adjust: initial;
}

#botao_register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#register{
    width: 900px;
    height: 120px;
    border: 1pt solid rgb(0, 0, 0);
    background-color: rgba(212, 211, 211, 0.918);
    border-radius: 15px;
    color: rgb(82, 82, 82);
    font-size: 40px;
    font-size-adjust: initial;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    box-shadow: 3px 3px;
}

#ou_cadastro{
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #0088ff
}

#ou_login{
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #0088ff
}

#nadaver{
    width: 900px;
    height: 120px;
    border: 1pt solid rgb(0, 0, 0);
    background-color: rgba(212, 211, 211, 0.918);
    border-radius: 15px;
    color: rgb(82, 82, 82);
    font-size: 40px;
    font-size-adjust: initial;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    box-shadow: 3px 3px;
}

.titulo_cadastro{
    position: absolute;
    font-size: 75px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
    left: 0;
    right: 0;
    top: 9%;
    font-size-adjust: initial;
    border-bottom: solid black 5pt;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* Término tela cadastro */

/* Início do entalhe menu no fundo de todas as telas (inicio,sabores,pedidos,perfil)*/

.cabecalho{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* padding: 0 0; */
    width: 100%;
    /* margin-left: -30px; */
    border-top: 3pt solid rgb(0, 0, 0);
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    gap: 10px;
    width: 100%;
    margin-top: 50px;
    background-color:  rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 200%;
    padding-left: 0;

}

.menu li {
    gap: 80px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Noto Sans', sans-serif;
    font-size: 35px;
    font-weight: bolder;
}

.iconify{
    display: block;
    margin: 0 auto;
    color: #000000;
}


/* Término do entalhe menu no fundo de todas as telas (inicio,sabores,pedidos,perfil)*/

/* Início  sub entalhe no topo de todas as telas (inicio,sabores,pedidos,perfil)*/

#subentalhe{
    background-color: rgba(190, 148, 148, 1);
    background-image: url('../imgs/fundologin.png');
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    border: #000000 solid 1pt;
}

.subtitulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-family: 'Kaushan Script', cursive;
    color: black;
}

/* Término  sub entalhe no topo de todas as telas (inicio,sabores,pedidos,perfil)*/

/* Início botões e textos da tela inicio */

#linhas_inicio{
    font-family: 'Kaushan Script', cursive;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    top: 12%;
    left: 0;
    right: 0;
    width: 100%;
    gap: 50px;
}

#linha_1_inicio{
    margin-top: -50px;
    height: 100%;
    width: 100%;
}

.texto_pequena{
    font-family: 'Noto Sans', sans-serif;
    font-size: 50px;
    font-weight:  bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pizza_pequena{
    margin-left: 60%;
    width: 350px;
    height: 210px;
}

.botao_pequena{
    width: 300px;
    height: 100px;
    border: rgba(0, 100, 250, 0.73) solid 2pt;
    border-radius: 50px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 100, 250, 0.73);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-right: 65%;
    margin-top: -12%;

}

#linha_2_inicio{
    border-top: 3pt solid black;
    width: 100%;
}

.texto_media{
    font-family: 'Noto Sans', sans-serif;
    font-size: 50px;
    font-weight:  bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pizza_media{
    margin-right: 60%;
    width: 350px;
    height: 170px;
}

.botao_media{
    width: 300px;
    height: 100px;
    border: rgba(0, 100, 250, 0.73) solid 2pt;
    border-radius: 50px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 100, 250, 0.73);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: 60%;
    margin-top: -12%;
}

#linha_3_inicio{
    border-top: 3pt solid black;
    width: 100%;
}

.texto_grande{
    font-family: 'Noto Sans', sans-serif;
    font-size: 50px;
    font-weight:  bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pizza_grande{
    margin-left: 60%;
    width: 350px;
    height: 214px;
}

.botao_grande{
    width: 300px;
    height: 100px;
    border: rgba(0, 100, 250, 0.73) solid 2pt;
    border-radius: 50px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 100, 250, 0.73);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-right: 65%;
    margin-top: -12%;
}

#linha_4_inicio{
    border-top: 3pt solid #000000;
    width: 100%;
}

.texto_gigante{
    font-family: 'Noto Sans', sans-serif;
    font-size: 50px;
    font-weight:  bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pizza_gigante{
    margin-right: 60%;
    width: 350px;
    height: 258px;
}

.botao_gigante{
    width: 300px;
    height: 100px;
    border: rgba(0, 100, 250, 0.73) solid 2pt;
    border-radius: 50px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 100, 250, 0.73);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: 60%;
    margin-top: -20%;
}

/* Término botões e textos da tela login */

/* Inicio botões e textos da tela sabores */

#div_sabores{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 15%;
    left: 0;
    right: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    gap: 100px;
}

#coluna_1_sabores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 460px;
}

.pizza_calabresa{
    width: 350px;
    height: 300px;
    border: solid 2pt black;
    border-width: 10px;
    gap: 100px;
}

.pizza_vegana{
    width: 350px;
    height: 300px;
    border: solid 2pt black;
    border-width: 10px;
    gap: 100px;
}

.titulo_calabresa{
    color: rgba(153, 112, 112, 1);
    font-size: 40px;
    font-weight: bolder;
    display: block;
    margin: 0 auto;
    position: absolute;
    width: 95px;
    height: 22px;
    left: 70px;
    top: 350px;
    gap: 100px;
}

.titulo_vegana{
    color: rgba(153, 112, 112, 1);
    font-size: 40px;
    font-weight: bolder;
    display: block;
    margin: 0 auto;
    position: absolute;
    width: 95px;
    height: 22px;
    left: 70px;
    top: 1120px;
    gap: 100px;
}

.subtitulo_calabresa{
    color: black;
    font-size: 27px;
    font-weight: bold;
    position: absolute;
    width: 350px;
    height: 300px;
    left: 70px;
    top: 400px;
    gap: 100px;
}

.subtitulo_vegana{
    color: black;
    font-size: 27px;
    font-weight: bold;
    position: absolute;
    width: 350px;
    height: 300px;
    left: 70px;
    top: 1160px;
    gap: 100px;
}

#coluna_2_sabores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 460px;
}

.pizza_frango{
    width: 350px;
    height: 300px;
    border: solid 2pt black;
    border-width: 10px;
    gap: 100px;
}

.pizza_egg{
    width: 350px;
    height: 300px;
    border: solid 2pt black;
    border-width: 10px;
    gap: 100px;
}

.titulo_frango{
    color: rgba(153, 112, 112, 1);
    font-size: 40px;
    font-weight: bolder;
    display: block;
    margin: 0 auto;
    position: absolute;
    width: 300px;
    height: 17px;
    left: 550px;
    top: 350px;
    gap: 100px;
}

.titulo_egg{
    color: rgba(153, 112, 112, 1);
    font-size: 40px;
    font-weight: bolder;
    display: block;
    margin: 0 auto;
    position: absolute;
    width: 300px;
    height: 22px;
    left: 550px;
    top: 1120px;
    gap: 100px;
}

.subtitulo_frango{
    color: black;
    font-size: 27px;
    font-weight: bold;
    position: absolute;
    width: 350px;
    height: 300px;
    left: 550px;
    top: 450px;
    gap: 100px;
}

.subtitulo_egg{
    color: black;
    font-size: 27px;
    font-weight: bold;
    position: absolute;
    width: 350px;
    height: 300px;
    left: 550px;
    top: 1160px;
    gap: 100px;
}

#coletores{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 15%;
    left: 0;
    right: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    gap: 100px;
}

#coluna_1_coletores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 460px;
}

.retangulo_calabresa{
    position: absolute;
    width: 250px;
    height: 110px;
    left: 135px;
    top: 580px;
    border: 2pt solid #000000;
    box-sizing: border-box;
}

.menus_calabresa{
    position: absolute;
    width: 18.03px;
    height: 0px;
    left: 180px;
    top: 630px;
    border: 2px solid #000000;
}

.line2_calabresa{
    position: absolute;
    width: 18.03px;
    height: 0px;
    left: 315px;
    top: 630px;
    border: 2px solid #000000;
}

.line3_calabresa{
    position: absolute;
    width: 18.03px;
    height: 0px;
    left: 315px;
    top: 630px;
    border: 2px solid #000000;
    transform: matrix(-0.01, -1, 1, -0.01, 0, 0);
}

.zero_calabresa{
    position: absolute;
    width: 32px;
    height: 40px;
    left: 240px;
    top: 615px;
}

.retangulo_vegana{
    position: absolute;
    width: 250px;
    height: 110px;
    left: 135px;
    top: 1320px;
    border: 2pt solid #000000;
    box-sizing: border-box;
}

.menus_vegana{
    position: absolute;
    width: 18.03px;
    height: 0px;
    left: 180px;
    top: 1375px;
    border: 2px solid #000000;
}

.line2_vegana{
    position: absolute;
    width: 15px;
    height: 0px;
    left: 310px;
    top: 1375px;
    border: 2px solid #000000;
}

.line3_vegana{
    position: absolute;
    width: 15.03px;
    height: 0px;
    left: 310px;
    top: 1375px;
    border: 2px solid #000000;
    transform: matrix(-0.01, -1, 1, -0.01, 0, 0);
}

.zero_vegana{
    position: absolute;
    width: 32px;
    height: 40px;
    left: 240px;
    top: 1355px;
}

#coluna_2_coletores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 460px;
}

.retangulo_frango{
    position: absolute;
    width: 250px;
    height: 110px;
    left: 600px;
    top: 870px;
    border: 2pt solid #000000;
    box-sizing: border-box;
}

.menus_frango{
    position: absolute;
    width: 18.03px;
    height: 0px;
    left: 650px;
    top: 920px;
    border: 2px solid #000000;
}

.line2_frango{
    position: absolute;
    width: 15px;
    height: 0px;
    left: 790px;
    top: 920px;
    border: 2px solid #000000;
}

.line3_frango{
    position: absolute;
    width: 15.03px;
    height: 0px;
    left: 790px;
    top: 920px;
    border: 2px solid #000000;
    transform: matrix(-0.01, -1, 1, -0.01, 0, 0);
}

.zero_frango{
    position: absolute;
    width: 32px;
    height: 40px;
    left: 710px;
    top: 900px;
}

.retangulo_egg{
    position: absolute;
    width: 250px;
    height: 110px;
    left: 600px;
    top: 1615px;
    border: 2pt solid #000000;
    box-sizing: border-box;
}

.menus_egg{
    position: absolute;
    width: 18.03px;
    height: 0px;
    left: 650px;
    top: 1670px;
    border: 2px solid #000000;
}

.line2_egg{
    position: absolute;
    width: 15px;
    height: 0px;
    left: 790px;
    top: 1670px;
    border: 2px solid #000000;
}

.line3_egg{
    position: absolute;
    width: 15.03px;
    height: 0px;
    left: 790px;
    top: 1670px;
    border: 2px solid #000000;
    transform: matrix(-0.01, -1, 1, -0.01, 0, 0);
}

.zero_egg{
    position: absolute;
    width: 32px;
    height: 40px;
    left: 710px;
    top: 1650px;
}

/* termino botões e textos da tela sabores */

/* Inicio botões e textos da tela pedidos */

#barra1{
    position: fixed;
    background-color: rgba(0, 100, 250, 0.73);
    top: 15%;
    left: 0;
    width: 100%;
}

.texto1_pedido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 50px;
    color: white;
}

#barra2{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 25%;
    right: 0;
    left: 0;
}

.fundo_pedidos{
    width: 970px;
}

#barra3{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 75%;
    right: 0;
    left: 0;
}

.texto2_pedido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    color: rgb(109, 108, 108);
}

.botao_pedidos{
    background-color: rgba(0, 100, 250, 0.73);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 700px;
    height: 100px;
    top: 150px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

/* termino botões e textos da tela pedidos */

/* inicio botões e textos da tela perfil */

#perfil{
    background-color: #cbc9c987;
    border-radius: 30px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 12%;
    width: 100%;
    left: 0;
    gap: 50px;
}

.perfil_logo{
    width: 150px;
    height: 150px;
}

.perfil_texto{
    font-family: 'Noto Sans', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.perfil_edit{
    width: 100px;
    height: 100px;
}

#colunas{
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    top: 25%;
    left: 0;
    right: 0;
    width: 100%;
}


#chat{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    width: 100%;
    border-bottom: #000000 solid 2pt;
    border-top: #000000 solid 2pt;
    padding-left: 35%;
}

.chat_logo{
    width: 70px;
    height: 70px;
    left: 80px;
}

.chat_texto{
    left: 200px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

#sino{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    width: 100%;
    border-bottom: #000000 solid 2pt;
    padding-left: 35%;
}

.sino_logo{
    width: 70px;
    height: 70px;
    left: 80px;
}

.sino_texto{
    left: 200px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

#carteira{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    width: 100%;
    border-bottom: #000000 solid 2pt;
    padding-left: 35%;
}

.carteira_logo{
    width: 70px;
    height: 70px;
    left: 80px;
}

.carteira_texto{
    left: 200px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

#cupom{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    width: 100%;
    border-bottom: #000000 solid 2pt;
    padding-left: 35%;

}

.cupom_logo{
    width: 70px;
    height: 70px;
    left: 80px;
}

.cupom_texto{
    left: 200px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

#fidelidade{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    width: 100%;
    border-bottom: #000000 solid 2pt;
    padding-left: 35%;
}

.fidelidade_logo{
    width: 70px;
    height: 70px;
    left: 80px;
}

.fidelidade_texto{
    left: 200px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

#favoritos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    width: 100%;
    border-bottom: #000000 solid 2pt;
    padding-left: 35%;
}

.favoritos_logo{
    width: 70px;
    height: 70px;
    left: 80px;
}

.favoritos_texto{
    left: 200px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

#sair{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50%;
    padding-top: 83vh;
}


.botao_sair{
    background-color: rgba(44, 43, 43, 0.73);
    border: #000000 solid 1pt;
    border-radius: 10pt;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 50px;
    color: rgb(0, 0, 0);
}


.text_sair {
    padding-left: 0vh;
    font-family: 'Noto Sans', sans-serif;
    font-size: 50px;
    color: rgb(255 255 255);
    font-weight: 100;
}

/* termino botões e textos da tela perfil */
